@import '../../styles/scss/variables.scss';

.tagstyle{
    border: transparent;
    padding:5px 10px;
    border-radius: 10px;
    background: $primary;
    color: $white;
    @include text-10-700-14;
        @media (min-width: 1024px) {  
            padding: 10px 15px;
            font-size: 14px;
        }
}