@import '../../styles/scss/variables.scss';

.error-block{
display: flex;
flex-direction: column;
gap: 113px;
padding-bottom: 100px;
padding-top: 100px;
@media (min-width: 1024px) {
    gap: 139px;
}
}
.oups{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 1024px) {
        gap: 5px;
        flex-direction: row;
    }
}

span {
    color: $primary;
    font-family: Montserrat, sans-serif;
    font-size: 96px;
    font-weight: 700;
    text-align: center;
    @media (min-width: 1024px) {
        font-size: 288px;
        line-height: 250px;
    }
}

h2{
    @include text-18-500-26;
    color: $primary;
    @media (min-width: 1024px) {
        font-size: 36px;
        line-height: 51px;
    }
}

.error-link{
    @include text-14-500-20;
    color: $black;
    display: flex;
    justify-content: center;
    @media (min-width: 1024px) {
        @include text-18-500-26;
    }
}