@import '../../styles/scss/variables.scss';

.error-block{
display: flex;
flex-direction: column;
gap: 100px;
padding-bottom: 100px;
padding-top: 100px;
}
.oups{
    width: 260px;
    display: flex;
    text-align: center;
    height: 52px;
}

span {
    color: $primary;
    font-family: Montserrat, sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 137px;
    letter-spacing: 0em;
    text-align: center;
}

h2{
    @include text-18-500-26;
    color: $primary;
}

a{
    @include text-14-500-20;
    color: $black;
}